body
{
background-color: yellow;
}

h1
{

    color: #CF71AF;
    background-color: #EDC9AF;
}

#show_sketch
{
    float: right;
}

canvas
{
    border:5px #FFFFF0;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {

    from{box-shadow: 1px 1px 38px #1C05B3;}
    to{box-shadow: 1px 1px 38px #002147;}
}

p
{
    padding-top:10px;
    font-size: 25px;
}

#score { font-size:35px; margin-left: 20px; }
 #time { font-size:35px; float: right; margin-right: 20px; }